.navigation-links-nav {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navigation-links-link {
  text-decoration: none;
}
.navigation-links-link1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}








.navigation-links-root-class-name8 {
  align-self: center;
}
@media(max-width: 767px) {
  .navigation-links-nav {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: var(--dl-size-size-small);
    padding: var(--dl-space-space-sixunits);
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-twounits);
    border-radius: var(--dl-radius-radius-radius4);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
    background-color: #ffdfa2;
  }
  .navigation-links-link {
    color: var(--dl-color-gray-black);
    margin-bottom: t;
  }
  .navigation-links-link1 {
    color: var(--dl-color-gray-black);
    margin-left: 0;
  }
  .navigation-links-link2 {
    color: var(--dl-color-gray-black);
    margin-left: 0;
  }
  .navigation-links-link3 {
    color: var(--dl-color-gray-black);
    margin-left: 0;
  }
  .navigation-links-root-class-name8 {
    width: 100%;
    align-self: center;
    background-color: var(--dl-color-yellow-2);
  }
}
@media(max-width: 479px) {
  .navigation-links-nav {
    gap: var(--dl-space-space-unit);
    width: 100%;
    padding: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .navigation-links-link {
    margin-right: var(--dl-space-space-halfunit);
  }
  .navigation-links-link2 {
    margin-right: var(--dl-space-space-halfunit);
  }
  .navigation-links-link3 {
    margin-right: var(--dl-space-space-halfunit);
  }
  .navigation-links-root-class-name8 {
    flex: 1;
    width: 100%;
    height: auto;
  }
}

.description-container {
  gap: var(--dl-space-space-twounits);
  width: 33%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  max-width: 1200px;
  align-self: flex-end;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(196, 190, 176, 0.25);
}
.description-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: Large;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: var(--dl-color-new-1);
}
.description-image {
  width: auto;
  height: var(--dl-size-size-large);
  object-fit: cover;
}
.description-caption {
  color: var(--dl-color-new-5);
  font-size: 18px;
  line-height: 27px;
}
.description-root-class-name {
  align-self: stretch;
}

@media(max-width: 991px) {
  .description-container {
    width: 100%;
    height: auto;
    padding: 0px;
    max-width: auto;
    align-items: center;
    margin-left: 0px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .description-container1 {
    width: auto;
    background-color: transparent;
  }
  .description-image {
    width: 60px;
    height: auto;
  }
  .description-caption {
    max-width: 350px;
  }
}
@media(max-width: 767px) {
  .description-container {
    width: 100%;
    height: auto;
    padding: 0px;
  }
  .description-caption {
    width: auto;
    font-size: 16px;
    max-width: 350px;
    line-height: 24px;
  }
  .description-root-class-name1 {
    max-width: auto;
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .description-image {
    width: 70px;
  }
  .description-caption {
    width: auto;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-new-1);
}
.home-header {
  width: 100%;
  height: 169px;
  display: flex;
  max-width: 1200px;
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-container01 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-image {
  width: 120px;
  height: auto;
  object-fit: fill;
}
.home-caption {
  color: var(--dl-color-new-5);
  width: auto;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
}
.home-hero {
  width: 100%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  background-color: #fbf4e6;
}
.home-container02 {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-image: radial-gradient(circle at right, rgba(208, 76, 75, 0.8) 65.00%,rgba(196, 190, 176, 0.5) 37.00%);
}
.home-container03 {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header1 {
  color: var(--dl-color-new-5);
  width: auto;
  font-size: 3rem;
  max-width: 700px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  line-height: 60px;
}
.home-link {
  color: var(--dl-color-new-1);
  width: 100%;
  font-size: 1.1rem;
  max-width: var(--dl-size-size-xxlarge);
  align-self: flex-start;
  transition: 0.3s;
  margin-left: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
  background-color: var(--dl-color-new-5);
}
.home-link:hover {
  color: var(--dl-color-new-1);
  opacity: 1;
  background-color: var(--dl-color-new-4);
}
.home-image01 {
  width: 731px;
  height: 618px;
  min-width: var(--dl-size-size-xxlarge);
  max-height: var(--dl-size-size-medium);
  min-height: var(--dl-size-size-xxlarge);
  object-fit: inherit;
}
.home-stat {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-tools {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: #fbf4e6;
}
.home-title {
  color: var(--dl-color-new-5);
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 100px;
}
.home-caption1 {
  color: var(--dl-color-new-5);
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
}
.home-fair-fare-box {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: TwoUnits;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-yellow-2);
}
.home-image02 {
  width: auto;
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.home-title1 {
  color: var(--dl-color-new-5);
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
.home-description {
  color: var(--dl-color-new-5);
  font-size: 18px;
  max-width: 600px;
  font-family: "Source Sans Pro";
  line-height: 27px;
}
.home-text08 {
  font-style: normal;
  font-weight: 700;
}
.home-link01 {
  text-decoration: underline;
}
.home-link02 {
  text-decoration: underline;
}
.home-link03 {
  text-decoration: underline;
}
.home-text13 {
  text-decoration: underline;
}
.home-shipt-box {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: TwoUnits;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-yellow-2);
}
.home-image03 {
  width: auto;
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.home-title2 {
  color: var(--dl-color-new-5);
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
}
.home-description1 {
  color: var(--dl-color-new-5);
  font-size: 18px;
  max-width: 600px;
  line-height: 27px;
}
.home-text16 {
  font-style: normal;
  font-family: "Source Sans Pro";
  font-weight: 700;
}
.home-link04 {
  text-decoration: underline;
}
.home-link05 {
  text-decoration: underline;
}
.home-text20 {
  text-decoration: underline;
}
.home-link06 {
  text-decoration: underline;
}
.home-link07 {
  text-decoration: underline;
}
.home-text24 {
  font-style: normal;
  font-weight: 700;
}
.home-about {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: #fbf4e6;
}
.home-header2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
}
.home-title3 {
  color: var(--dl-color-new-5);
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 100px;
}
.home-caption2 {
  color: var(--dl-color-new-5);
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
}
.home-details-box {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: TwoUnits;
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: rgba(196, 190, 176, 0.25);
}
.home-caption3 {
  color: var(--dl-color-new-5);
  font-size: 18px;
  max-width: 640px;
  line-height: 27px;
}
.home-link08 {
  text-decoration: underline;
}
.home-link09 {
  text-decoration: underline;
}
.home-team {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: #fbf4e6;
}
.home-header3 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-title4 {
  color: var(--dl-color-new-5);
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 100px;
}
.home-caption4 {
  color: var(--dl-color-new-5);
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
}
.home-people {
  width: 100%;
  columns: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  grid-template-rows: repeat(1, 1fr);
}
.home-teammate {
  gap: var(--dl-space-space-unit);
}
.home-image04 {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-link10 {
  color: var(--dl-color-new-5);
  font-style: normal;
  font-weight: 600;
  text-decoration: underline;
}
.home-link11 {
  color: var(--dl-color-new-4);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.home-teammate1 {
  gap: var(--dl-space-space-unit);
}
.home-image05 {
  width: 100px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-link12 {
  color: var(--dl-color-new-5);
  font-style: normal;
  font-weight: 600;
  text-decoration: underline;
}
.home-link13 {
  color: var(--dl-color-new-4);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.home-teammate2 {
  gap: var(--dl-space-space-unit);
}
.home-image06 {
  width: 100px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-link14 {
  color: var(--dl-color-new-5);
  font-style: normal;
  font-weight: 600;
  text-decoration: underline;
}
.home-link15 {
  color: var(--dl-color-new-4);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}
.home-teammate3 {
  gap: var(--dl-space-space-unit);
  border-right-width: 0px;
}
.home-image07 {
  width: 100px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
}
.home-link16 {
  color: var(--dl-color-new-5);
  font-style: normal;
  font-weight: 600;
  text-decoration: underline;
}
.home-link17 {
  color: var(--dl-color-new-4);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.home-contact {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: #fbf4e6;
}
.home-title5 {
  color: var(--dl-color-new-5);
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 100px;
}
.home-caption5 {
  color: var(--dl-color-new-5);
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
}
.home-container04 {
  width: 500px;
  max-width: 50%;
}
.home-container05 {
  display: contents;
}
.home-footer {
  width: 100%;
  height: 85vh;
  display: flex;
  opacity: 0.9;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/bg_grainy-1500w.png");
  background-position: center;
}
.home-container07 {
  display: contents;
}
.home-container09 {
  display: contents;
}
.home-background {
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 85%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image08 {
  right: 0px;
  bottom: 0px;
  filter: invert();
  height: 90%;
  position: absolute;
  object-fit: cover;
}
.home-image09 {
  height: 100%;
  z-index: 100;
  object-fit: cover;
}
.home-hero-content {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: 1000px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-caption6 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-register {
  padding-top: var(--dl-space-space-halfunit);
  border-color: #ef533c;
  border-width: 0px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: transparent;
}
.home-image10 {
  width: 100px;
  object-fit: cover;
}
.home-text35 {
  color: rgb(255, 255, 255);
  font-size: 3em;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1;
  margin-right: var(--dl-space-space-halfunit);
}
.home-link18 {
  display: contents;
}
.home-text36 {
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  font-style: normal;
  font-weight: 600;
  line-height: 1.1;
  margin-right: var(--dl-space-space-halfunit);
  text-decoration: underline;
}
@media(max-width: 991px) {
  .home-caption {
    color: var(--dl-color-gray-black);
  }
  .home-hero {
    width: 100%;
    height: auto;
    max-width: auto;
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    justify-content: flex-start;
  }
  .home-container02 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: auto;
    max-width: auto;
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-container03 {
    align-self: flex-start;
  }
  .home-header1 {
    width: 991px;
    height: 120px;
    max-width: 600px;
    padding-left: var(--dl-space-space-halfunit);
  }
  .home-image01 {
    width: auto;
    height: auto;
    align-self: flex-end;
    padding-left: var(--dl-space-space-halfunit);
  }
  .home-stat {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
  }
  .home-team {
    max-width: auto;
  }
  .home-people {
    height: auto;
    flex-direction: row;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  .home-teammate {
    width: 25%;
    height: 250px;
    border-color: rgba(0, 0, 0, 0);
  }
  .home-image04 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-medium);
  }
  .home-link10 {
    font-size: 11px;
    text-align: center;
  }
  .home-link11 {
    font-size: 11px;
    text-align: center;
  }
  .home-teammate1 {
    width: 25%;
    height: 250px;
    align-items: center;
    border-right-width: 0px;
  }
  .home-image05 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-medium);
  }
  .home-link12 {
    font-size: 11px;
    text-align: center;
  }
  .home-link13 {
    font-size: 11px;
    text-align: center;
  }
  .home-teammate2 {
    width: 25%;
    height: 250px;
    border-color: rgba(0, 0, 0, 0);
  }
  .home-image06 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-medium);
  }
  .home-link14 {
    font-size: 11px;
    text-align: center;
  }
  .home-link15 {
    font-size: 11px;
    text-align: center;
  }
  .home-teammate3 {
    width: 25%;
    height: 250px;
    border-color: rgba(0, 0, 0, 0);
    border-top-width: 1px;
  }
  .home-image07 {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-medium);
  }
  .home-link16 {
    font-size: 11px;
    text-align: center;
  }
  .home-link17 {
    font-size: 11px;
    text-align: center;
  }
  .home-register {
    background-color: #d24b4a;
  }
  .home-text35 {
    margin-right: var(--dl-space-space-halfunit);
  }
  .home-text36 {
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .home-header {
    gap: var(--dl-space-space-twounits);
    height: auto;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
    justify-content: flex-start;
  }
  .home-container01 {
    align-self: flex-start;
  }
  .home-caption {
    font-size: 16px;
    line-height: 24px;
  }
  .home-hero {
    height: auto;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    justify-content: flex-start;
  }
  .home-container02 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: 598px;
    padding: var(--dl-space-space-twounits);
    align-self: center;
    border-color: #d04c4b;
    border-style: dashed;
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-container03 {
    align-self: stretch;
  }
  .home-header1 {
    width: 100%;
    height: auto;
    align-self: flex-start;
  }
  .home-image01 {
    width: auto;
    height: auto;
    min-width: auto;
    align-self: flex-end;
    max-height: auto;
    min-height: 254px;
  }
  .home-stat {
    flex-direction: column;
  }
  .home-tools {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-title {
    font-size: 30px;
    line-height: 33px;
  }
  .home-caption1 {
    width: 90%;
    font-size: 16px;
    line-height: 24px;
  }
  .home-fair-fare-box {
    gap: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-title1 {
    font-size: 24px;
    line-height: 28px;
  }
  .home-description {
    width: 90%;
    font-size: 16px;
    line-height: 24px;
  }
  .home-shipt-box {
    gap: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-title2 {
    font-size: 24px;
    line-height: 28px;
  }
  .home-description1 {
    width: 90%;
    font-size: 16px;
    line-height: 24px;
  }
  .home-about {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-title3 {
    font-size: 30px;
    line-height: 33px;
  }
  .home-caption2 {
    width: 90%;
    font-size: 16px;
    line-height: 24px;
  }
  .home-details-box {
    gap: var(--dl-space-space-unit);
  }
  .home-caption3 {
    width: 90%;
    font-size: 16px;
    line-height: 24px;
  }
  .home-team {
    gap: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-title4 {
    font-size: 30px;
    line-height: 33px;
  }
  .home-caption4 {
    width: 90%;
    font-size: 16px;
    line-height: 24px;
  }
  .home-people {
    height: auto;
    align-self: center;
    align-items: center;
    flex-direction: column;
  }
  .home-teammate {
    width: auto;
    border-color: rgba(0, 0, 0, 0);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-image04 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-large);
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-link10 {
    font-size: 16px;
  }
  .home-link11 {
    font-size: 16px;
  }
  .home-teammate1 {
    width: auto;
    border-color: rgba(0, 0, 0, 0);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-image05 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-large);
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-link12 {
    font-size: 16px;
  }
  .home-link13 {
    font-size: 16px;
  }
  .home-teammate2 {
    width: auto;
    border-color: rgba(0, 0, 0, 0);
  }
  .home-image06 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-large);
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-link14 {
    font-size: 16px;
  }
  .home-link15 {
    font-size: 16px;
  }
  .home-teammate3 {
    width: auto;
    border-color: rgba(0, 0, 0, 0);
  }
  .home-image07 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-large);
    border-radius: var(--dl-radius-radius-radius4);
  }
  .home-link16 {
    font-size: 16px;
  }
  .home-link17 {
    font-size: 16px;
  }
  .home-contact {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-title5 {
    font-size: 30px;
    line-height: 33px;
  }
  .home-caption5 {
    width: 90%;
    font-size: 16px;
    line-height: 24px;
  }
  .home-container04 {
    width: 100%;
    max-width: 100%;
  }
  .home-footer {
    height: 60vh;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-hero-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-caption6 {
    gap: var(--dl-space-space-unit);
  }
  .home-register {
    padding: var(--dl-space-space-halfunit);
    background-color: transparent;
  }
  .home-text35 {
    width: 450px;
    font-size: 3rem;
  }
  .home-text36 {
    width: 450px;
    font-size: 1.5rem;
  }
}
@media(max-width: 479px) {
  .home-header {
    gap: var(--dl-space-space-twounits);
    width: 100%;
    flex-shrink: 0;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-hero {
    height: auto;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    justify-content: flex-start;
  }
  .home-container02 {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .home-header1 {
    width: auto;
    height: auto;
    font-size: 30px;
    align-self: flex-start;
    line-height: 36px;
  }
  .home-link {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .home-image01 {
    width: 196px;
    align-self: flex-end;
    max-height: auto;
    min-height: var(--dl-size-size-xlarge);
  }
  .home-stat {
    max-width: auto;
  }
  .home-fair-fare-box {
    background-color: #ffdfa2;
  }
  .home-shipt-box {
    background-color: #ffdfa2;
  }
  .home-details-box {
    background-color: #2a2629;
  }
  .home-caption3 {
    color: var(--dl-color-new-1);
  }
  .home-team {
    max-height: auto;
    min-height: 635px;
  }
  .home-people {
    gap: var(--dl-space-space-unit);
    height: auto;
    align-items: center;
    flex-direction: column;
  }
  .home-teammate {
    width: auto;
    height: 250px;
    padding-top: var(--dl-space-space-unit);
    border-color: rgba(0, 0, 0, 0);
    margin-bottom: var(--dl-space-space-unit);
    justify-content: flex-start;
  }
  .home-image04 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-large);
    max-width: auto;
    max-height: auto;
  }
  .home-link10 {
    font-size: 16px;
  }
  .home-link11 {
    font-size: 16px;
  }
  .home-teammate1 {
    width: auto;
    height: 250px;
    padding-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
    justify-content: flex-start;
  }
  .home-image05 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-large);
    max-width: auto;
    max-height: auto;
  }
  .home-link12 {
    font-size: 16px;
  }
  .home-link13 {
    font-size: 16px;
  }
  .home-teammate2 {
    width: auto;
    height: 250px;
    padding-top: var(--dl-space-space-twounits);
    border-color: rgba(0, 0, 0, 0);
    justify-content: flex-start;
  }
  .home-image06 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-large);
    max-width: auto;
    max-height: auto;
  }
  .home-link14 {
    font-size: 16px;
  }
  .home-link15 {
    font-size: 16px;
    text-decoration: inherit;
  }
  .home-teammate3 {
    width: auto;
    height: 250px;
    padding-top: var(--dl-space-space-twounits);
    border-color: rgba(0, 0, 0, 0);
    justify-content: flex-start;
  }
  .home-image07 {
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-large);
    max-width: auto;
    max-height: auto;
  }
  .home-link16 {
    font-size: 16px;
    text-align: center;
  }
  .home-link17 {
    font-size: 16px;
    text-decoration: inherit;
  }
  .home-footer {
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-hero-content {
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-text35 {
    width: 100%;
    font-size: 3rem;
  }
  .home-text36 {
    width: 100%;
    font-size: 1.5rem;
    text-decoration: underline;
  }
}
