.navigation-links-nav {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navigation-links-link {
  text-decoration: none;
}
.navigation-links-link1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-link3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}








.navigation-links-root-class-name8 {
  align-self: center;
}
@media(max-width: 767px) {
  .navigation-links-nav {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: var(--dl-size-size-small);
    padding: var(--dl-space-space-sixunits);
    align-items: center;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-twounits);
    border-radius: var(--dl-radius-radius-radius4);
    padding-right: var(--dl-space-space-halfunit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-halfunit);
    justify-content: center;
    background-color: #ffdfa2;
  }
  .navigation-links-link {
    margin-bottom: t;
  }
  .navigation-links-link1 {
    margin-left: 0;
  }
  .navigation-links-link2 {
    margin-left: 0;
  }
  .navigation-links-link3 {
    margin-left: 0;
  }
}
@media(max-width: 479px) {
  .navigation-links-nav {
    gap: var(--dl-space-space-unit);
    width: 100%;
    padding: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-halfunit);
    justify-content: center;
  }
  .navigation-links-link {
    margin-right: var(--dl-space-space-halfunit);
  }
  .navigation-links-link2 {
    margin-right: var(--dl-space-space-halfunit);
  }
  .navigation-links-link3 {
    margin-right: var(--dl-space-space-halfunit);
  }
}
