.success-contact-container {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.success-contact-text {
  align-self: center;
  text-align: center;
}
